<html>
<head>
<link href="/styles.css" rel="stylesheet" media="all" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<head/>
<body>
<h1 id="mops">Welcome to the tsirulnaya! </h1>
<p class="belueot"> We're open now!</p>
<form action="/" method="POST">
Ur name: <br/>
<input type="text" name="name" /> <br/>
ligma phone: <br/>
<input type="text" name="telephon"/><br/>
ligma date (11.11.2011): <br/>
<input type="text" name="date"/><br/>
<input type="submit" />

</form>
<body/>
<html/>
